<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img alt="Angular Logo" src="../assets/logo.png" />
</div>

<div class="content" role="main">

  <div class="content__return">
    <mat-icon>keyboard_backspace</mat-icon> Return to Results
  </div>

  <div class="content__carousel">
    <img src="./../assets/carousel/carousel-1.png" />
  </div>

  <div class="content__information">
    <div class="content__information__address">
      <div class="content__information__address__name">
        <div>Brandywine Living</div>
        <div>@ Huntington Terrace</div>
      </div>
      <div class="content__information__address__address">
        70 Pinelawn Road, Melville, NY 11747
      </div>
      <div class="content__information__address__buttons">
        <button class="information">Book a Tour</button>
        <button class="primary">Add to Favourites</button>
      </div>
    </div>

    <div class="content__information__stats">
      <div class="content__information__stats__score">

        <div style="display: flex; align-items: center;">
          <div class="item html">
            <h2>85</h2>
            <svg width="160" height="160" xmlns="http://www.w3.org/2000/svg">
              <g>
                <title>Layer 1</title>
                <circle stroke-linecap="round" class="circle_animation" r="69.85699" cy="81" cx="81" stroke-width="15"
                  stroke="#01002d" fill="none" />
              </g>
            </svg>
          </div>

          <div class="content__information__stats__score__number">(#1 for you)</div>
        </div>
      </div>

      <div class="content__information__stats__price">$6,000-$7,000 per month</div>
    </div>
  </div>


  <footer>
    <div><img src="../assets/logo.png" /></div>
  </footer>
</div>
<router-outlet></router-outlet>
